<div style="width: 100%;">
  <img src="{{ '/assets/images/NSF_4-Color_bitmap_Logo-5.png' | relative_url }}" style="display: block; width: 5%; margin:auto;">
  <p style="width: 80%; text-align: center; padding-bottom: 1em; margin: auto;">This site was made possible in part by National Science Foundation Awards <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2324688">2324688</a>, <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2324689">2324689</a>, and <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2324690">2324690</a>. Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
</div>
