<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      </div>
      <div class="footer-col">
        <p>This website is a public-facing front for the <a href="https://github.com/paleo-data">Paleo Data Working Group organization on Github </a><i class='fa fa-github'></i>. Contact us via GitHub or paleodatawg@gmail.com</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
