---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.feature__wrapper a:link { color: #000; text-decoration: none; }
.feature__wrapper a:visited { color: #000; text-decoration: none; }
.feature__wrapper a:hover { color: #000; text-decoration: none !important; }
.feature__wrapper a:active { color: #000; text-decoration: none; }

.feature__wrapper div:has(> a:hover) { background-color: #eee; border-color: #000; }

.feature__item { border: 1px solid #eee; margin-bottom: 1em; }

a.archive__item-teaser { border: none; }
a.archive__item-body { border: none; }
h2.archive__item-title { text-align: center; }
div.archive__item-teaser img { width: 30%;  padding: 0; box-shadow: none !important; margin: 10% 35% 0 35%; }
div.archive__item-excerpt { margin: 0 5%; }

.notice--info { font-style: normal; }

.hidden {display: none; }

ul.collapsible li:has(ul) span::after { content: " ▴"; }
ul.collapsible li:has(ul.hidden) span::after { content: " ▾"; }

ul.nav__items ul li { padding-left: 10px; margin-bottom: 0.5em; text-indent: -10px; }
ul.nav__items ul li:hover { text-decoration: underline; }

ul.faceted a { display: inline-block; font-weight: normal; padding-right: 0; }
ul.faceted a.selected { font-weight: 800; }

.extlink { width: 1em; padding-bottom: 0.2em; }

div.section-title { font-size: 0.8em; text-decoration: underline; font-variant: small-caps; margin-bottom: 0.3em; }
div.section-title a { color: #555; }
