---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__content { font-size: 0.9em; }

@media (prefers-color-scheme: dark) {
   :root { filter: invert(100%); }
   div.page__hero--overlay, div.archive__item-teaser { filter: invert(100%); }
   img:not([src*=".svg"]), video { filter: invert(100%); }
   img.mhicon { filter: invert(0); }
}

// Feature row and items
.feature__wrapper a:link { color: #000; text-decoration: none; }
.feature__wrapper a:visited { color: #000; text-decoration: none; }
.feature__wrapper a:hover { color: #000; text-decoration: none !important; }
.feature__wrapper a:active { color: #000; text-decoration: none; }

.feature__wrapper div:has(> a:hover) { background-color: #eee; border-color: #000; }
.feature__item { border: 1px solid #eee; margin-bottom: 1em; }

a.archive__item-teaser { border: none; }
a.archive__item-body { border: none; }
h2.archive__item-title { text-align: center; }
div.archive__item-teaser img { width: 30%;  padding: 0; box-shadow: none !important; margin: 10% 35% 0 35%; }
div.archive__item-excerpt { margin: 0 5%; }

// Left naviation bar
ul.collapsible li:has(ul) span::after { content: " ▴"; }
ul.collapsible li:has(ul.hidden) span::after { content: " ▾"; }

ul.nav__items ul li { padding-left: 10px; margin-bottom: 0.5em; text-indent: -10px; }
ul.nav__items ul li:hover { text-decoration: underline; }

// Right navigation bar
ul.faceted a { display: inline; font-weight: normal; padding: 0; border: 0; }
ul.faceted a.selected { font-weight: 800; }
ul.faceted li { padding: 0.25rem 0.75rem 0.25rem 1rem; text-indent: -0.5rem;  border-bottom: 1px solid rgb(241.7, 242.5, 243.1);}

img.sortFacet { float: right; width: 20px; height: 20px; }
img.sortFacet:hover { cursor: pointer; }
img.selected { -webkit-filter: invert(1); filter: invert(1); }

// Internal link signifier
a.external::after {
    content: "";
    display: inline-block;
    background-image: url("../images/ri--external-link-line.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    vertical-align: bottom;
    margin-left: 0.25em;
    margin-bottom: 0.2em;
}

// Faceted tables
table.faceted { width: 95%; display: table; }
table.faceted td:last-child { width: 25%; }
tr:hover { background-color: #eee; }

// Tooltip
.tooltip { position: relative; display: inline-block; }

.tooltip .tooltiptext {
  visibility: hidden;
  font-size: 0.7em;
  width: max-content;
  max-width: 500px;
  background-color: darkslategray;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
}

span.tooltip { border-bottom: 1px dotted #000; }

.tooltip:hover .tooltiptext { visibility: visible; }

// Other
div.section-title { font-size: 0.8em; text-decoration: underline; font-variant: small-caps; margin-bottom: 0.3em; }
div.section-title a { color: #555; }

img.icon { width: 2em; height: 2em; }
img.mhicon { width: 1.75em; height: 1.75em; }

.notice--info { font-style: normal; }

.hidden {display: none; }

